body{
    background: linear-gradient(
        135deg,
        #0f172a,
        #111827,
        #020617
    );
    color: #e5e7eb;
}
.navBar1{
    display: flex;
    justify-content: flex-end;
}
.navBar1 button{
    border: none;
    background-color: #0f172a;
    color: white    ;
    font-size: medium;
    padding-top: 100;
    font-family: 'Times New Roman', Times, serif;


}


.vinuda{
    display: flex;
    margin-right: 350px;
    

}
